body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  } 
 
h1 {
   text-align: center;
}

    
form {
    
    width: 500px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}


